{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="container mt-5 content-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="card mb-5"> <!-- Added mb-5 for bottom margin -->
                <div class="card-body">
                    <h2 class="card-title text-center">{% trans "Change Password" %}</h2>

                    {% url 'account_change_password' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {{ form|crispy }}
                        <div class="text-center">
                            <a href="javascript:history.back()" class="btn btn-secondary">{% trans "Go Back" %}</a>
                            <button type="submit" class="btn bg-navy w-50">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                        <p class="text-center">
                        <a href="{% url 'account_reset_password' %}" class="w-100 p-3">{% trans "Forgot Password?" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
