{% extends "base.html" %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-5 content-container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <h1 class="card-title text-center">{% trans "Password Reset" %}</h1>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="text-center">
                        {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>

                    <div class="text-center">
                        {% if user.is_authenticated %}
                            <a href="javascript:history.back()" class="btn btn-secondary">{% trans "Go Back" %}</a>
                        {% else %}
                            <a href="{{ login_url }}" class="btn btn-secondary">{% trans "Go Back" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
