{% extends "base.html" %}
{% block title %}Manage Menu Items{% endblock %}

{% block content %}
<div class="container">
    <h1>Manage Menu Items</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu_item in menu_items %}
            <tr>
                <td>{{ menu_item.name }}</td>
                <td>{{ menu_item.description }}</td>
                <td>{{ menu_item.category }}</td>
                <td>{{ menu_item.price }}</td>
                <td>
                    <a href="#" class="btn bg-navy">Edit</a>
                    <a href="{% url 'delete_menu_item' menu_item.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'staff_dashboard' %}" class="btn btn-secondary">Cancel</a>
</div>
{% endblock %}
